@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
.bg-primaryy {
    background-color: #1E1E1E !important;
}

.bg-secondaryy {
    background-color: #232323 !important;
}

.rounded-lg {
    border-radius: 15px !important;
    
}

.gray-placeholder::placeholder {
    color: #585858 !important;
    font-weight: bold;
  }

.cursor-pointer {
    cursor: pointer;

}

.fotodocard-gui {
    background-image: url(../public/images/96486731.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fotodocard-joao {
    background-image: url(../public/images/joao.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fotodocard-junqueira {
    background-image: url(../public/images/.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fotodocard-rafael {
    background-image: url(../public/images/rafael.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fotodocard-gustavo {
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-options {
    transition: .3s;
}
.card-options:hover {
    background-color: #585858 !important;
}

.option-back-btn {
    transition: .3s
}
.option-back-btn:hover {
    background-color: #585858 !important;
}

.w-80 {
    width: 80% !important;
}

.video-p-button {
    transition: .3s;
}
.video-p-button:hover {
    background-color: #585858 !important;
}

.font-anybody{
    font-family: 'Anybody';
}
