body {
  background-color: #262835 !important;
  width: 100%;
  min-height: 100vh !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div#root {
  width: 100% ;
  min-height: 100vh !important;
  background-color: #262835;
}

html {
  min-height: 100%;
}


.h-100-vh {
  min-height: 100vh;
}